services:
  - type: web
    name: prometheus
    env: docker
    plan: free
    rootDir: prometheus
    dockerfilePath: Dockerfile
    autoDeploy: true
    envVars:
      - key: PORT
        value: 9090

  - type: web
    name: grafana
    env: docker
    plan: free
    rootDir: grafana
    dockerfilePath: Dockerfile
    autoDeploy: true
    envVars:
      - key: PORT
        value: 3000
